.area_de_trabalho{

  background: cover;
  
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 90vh;
  width: 100vw;
  overflow: hidden;
  display: none;

}


.image {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  cursor: grab;
  transition: transform 0.3s ease-in-out;
  transform-origin: center center;
}

.image:active {
  cursor: grabbing;
}

.container-de-captura{
  display: block;
  z-index: 10;
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px dashed #0F9DF5
}


input[type=file]{
  display: none;
}


@media(max-width: 700px){

  .area_de_trabalho{
    height: 100vh;
  }
}