@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,200&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

    
body{
    font-size: 1.6rem;
    height: 95vh;

    display: grid;
    justify-content: space-between;

    grid-template-columns: 80vw 18vw;
    grid-template-rows: 10vh 80vh;
    
    grid-column-gap: 1rem; 
    grid-row-gap: 1rem; 

    position: relative;
}


header{
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    display: flex;
    align-items: center;
}

header img{
    height: 5rem;
}

.container-de-exibicao{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.container-propriedades{
    position: relative;
    grid-column: 2 / 3;
    grid-row: 1 / 3;

}

main{
    padding: 3rem;
    width: 80%;
    height: 80%;
    border-radius: 1rem;
    border: 1px solid #00000070;
    box-shadow: 5px 15px 15px 5px #00000040;
    
}




h1{
    color: #613DC1;
    text-align: center;
    font-size: 2rem;
    padding: 0rem 2rem;
    white-space: nowrap;
}

.mensagem-de-erro{
    text-align: center;
    font-size: 1.3rem;
    color: rgb(255, 111, 111);
}

.container-corte{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-de-exibicao{

    display: flex;
    align-items: center;
    justify-content: center;

    height: 80vh;
    width: 80vw;
    overflow: hidden;
    position: relative;
    border: 3px solid #613DC1;
    transition: 0.5s ease;

}



.container-propriedades{
    display: flex;
    height: 100%;
    flex-direction: column;

    justify-content: space-between;

    font-weight: 100;
}

.container-propriedades span{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    color:  #613DC1;
    font-size: 2rem;
    margin: 0rem 0rem 1rem 0rem;

}

.container-input-dimensão{
    display: flex;
    flex-direction: column;
}

.container-input-dimensão p{
    font-size: 1.3rem;
    text-align: center;
}

.container-input-dimensão .inputs{
    display: flex;
    width: 100%;
    font-size: 2rem;

    justify-content: space-between;
}


.container-input-dimensão .inputs div{
    width: 47%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-input-dimensão .inputs div input{
    width: 100%;
    border: 0.1rem solid #ccc;
    text-align: center;
    color: #707070;
    outline: none;
    height: 4rem;
    border-radius: 1rem;
}

.container-propriedades .container-buttons{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 47% 47%;
    grid-template-rows: 5rem 5rem;
    row-gap: 1rem;

}

.container-propriedades .container-buttons button{
    border-radius: 1rem;
    border: 0px;
    background: transparent;
    cursor: pointer;
    font-size: 1.3rem;
    color: #fff;
    font-weight: bold;

    border: #613DC1 0.1rem solid ;
    color: #613DC1;
}

.container-propriedades .container-buttons button:hover{
    background: #613DC1;
    color: #fff;
}




.container-propriedades .button-cortar-imagem{
    height: 10vh;
    background: transparent;
    border-radius: 1rem;
    background: transparent;
    border: 0px;
    cursor: pointer;

    background: #613DC1;
    color: #fff;
    font-size: 1.5rem;
}


.container-propriedades .button-cortar-imagem:hover{
    background: #4f27be;
}

.container-branco{
    position: absolute;
    background: #ffffff70;
    height: 95vh;
    width: 18vw;

    top: 0px;
    right: 0px;
}

















.image {
    position: absolute;
    top: 0;
    left: 0;
    cursor: grab;
    transition: transform 0.3s ease-in-out;
    transform-origin: center center;
}

.image:active {
    cursor: grabbing;
}

.container-de-captura{
    display: none;
    position: absolute;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px dashed #613DC1;

}

input[type=file]{
    display: none;
}

.label-input-file, .button-add-nova-imagem{
    width: 30rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6rem;
    font-size: 1.5rem;
    color: #fff;
    border: 0px;
    cursor: pointer;
    margin: 1rem;
    background:  #613DC1;
    transition: 0.3s ease;  
}

.label-input-file:hover,
.button-add-nova-imagem:hover{
    transition: 0.3s ease;  
    background:  #4f27be
}

p{
    font-weight: bold;
    margin: 1rem auto;
    width: 75%;
    font-size: 1.1rem;
    color:  #613DC1;
}



/* CONTAINER RESULTADO */

.container-resultado{
    display: none;
    width: 100%;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#container-image{
    border: 1px solid #613DC1;
}

.container-resultado, button{
    width: 100%;
}

.container-resultado a svg{
    height: 2rem;
    width: 2rem;
}



@media(max-width: 750px){

main{
    width: 100vw;
    height: 100vh;
    border: 0px;
    box-shadow: 0px;
}

h1{
    margin-top: 5rem;
}

p{
    
    width: 90%;
    
}
}


@media(min-height: 1000px){
html{
    font-size: 100.5%;
}

p{
    width: 100%;
}

}

@media(max-width: 400px){
    html{
        font-size: 60%;
    }
}





   

 
