@font-face {
    font-family: 'BistroScript';
    src: url('/public/fonts/Bistro\ Script.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad pro';
    src: url('/public/fonts/MYRIADPRO-REGULAR.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html{
    font-size: 62.5%;
    font-family: 'Myriad pro', sans-serif;
}

    



.ad{
    width:  100vw;

}

main{
    position: absolute;
    top: 0px;
    z-index: 2; 


    position: relative;

    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

}

header img{
    position: absolute;
    height: 70rem;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: -1;
}

h1{
    color: #0F9DF5;
    font-size: 10rem;
    font-weight: 100;
    font-family: 'BistroScript', sans-serif;
    height: 14rem;

}

h2{
    max-width: 100rem;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.3rem;
    margin-bottom: 3rem;
}

header label{
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    border-radius: 30px;
    width: 20rem;
    height: 6rem;
    font-size: 1.5rem;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 2;
    letter-spacing: 0.3rem;


    background: rgb(15,157,245);
background: linear-gradient(90deg, rgba(15,157,245,1) 0%, rgba(15,84,245,1) 100%);
}



header label::before{
        transition: 0.2s;
            content: '';
            position: absolute;

            top: 30px;
            left: 30px;

            width: 10rem;
            height: 6rem;

            z-index: -10;
            background-color: #0f9df5;
            transform: translate(-50%, -50%);
            border-radius: 10%;
            filter: blur(30px);
}

header label:hover:before{
    left: 200px;
    transition: 0.2s;

}


.container-corte{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-de-exibicao{
    background: url(../public/backgrounds/background.png);
    background: cover;
    
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100vw;
    overflow: hidden;
    transition: 0.5s ease;
}

.container-branco{
    display: none;

    position: absolute;
    z-index: 99;
    background: #ffffff90;
    height: 100vh;
    width: 100vw;   

    align-items: center;
    justify-content: center;
}





.container-escala{
    z-index: 99;
    display: none;
    position: absolute;
    bottom: 0px;
}


.container-escala  label{
    position: absolute;
    top: -0.3rem;

    left: 50%;
    transform: translate(-50%);


    font-size: 2rem;
    background: #fff;
    color: #0f9df5;
    padding: 0.4rem;
    border-radius: 1rem;
}
.container-escala div{
    position: relative;
    padding: 1rem;
}

.container-escala input{
    width: 10rem;
    height: 5rem;
    border-radius: 2rem;

    border: 1px solid #ccc;
    outline: none;
    padding: 1rem;
    font-size: 2rem;
    color: #ccc;

}

.container-branco .container-erro{
    position: relative;
    background: #fff;
    height: 10rem;
    width: 50rem;
    box-shadow: 1px 1px 5px 1px #cccccc90;
    text-align: center;
    padding: 3rem;
    border-radius: 7rem;
    
    display: flex;
    align-items: center;
    justify-content: center
}

.container-branco .container-erro p{
    font-size: 1.5rem;
    color: rgb(246, 98, 98);
    font-weight: bold;
}

.container-erro button{
    height: 5rem;
    width: 5rem;

    position: absolute;
    top: 1rem;
    right: 6rem;

    background: transparent;
    border: 0px;
}

.container-erro button svg{
    cursor: pointer;
    height: 3rem;
    width: 3rem;

    fill:rgb(246, 98, 98);
}

.container-erro button svg:hover{
    

    fill:rgb(244, 75, 75);
}


.container-branco-image{
    display: none;
    height: 200px;
    width: 200px;
    background: rgb(255, 255, 255);
    
    position: absolute;
    z-index: 9;
}

.image {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    cursor: grab;
    transition: transform 0.3s ease-in-out;
    transform-origin: center center;
}

.image:active {
    cursor: grabbing;
}

.container-de-captura{
    display: none;
    z-index: 11;
    position: absolute;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px dashed #0F9DF5
}




.container-buttons{
    z-index: 99;
    position: absolute;
    top: 5rem;
    right: 5rem;
    display: none;

}

.container-buttons button{
    height: 5rem;
    width: 7rem;
    cursor:pointer;
    outline: none;
    border: 0px;

    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    box-shadow: 1px 1px 5px 0px #00000030;

}

.container-buttons button svg{
    height: 3rem;
    width: 3rem;

}

.gradient-fill {
    fill: url(#grad1);
}

.container-buttons button:hover .gradient-fill{
    fill:  #fff;
}

.container-buttons button:hover{
    background: rgb(15,229,245);
    background: linear-gradient(90deg, rgba(15,229,245,1) 0%, rgba(15,157,245,1) 52%, rgba(15,84,245,1) 100%);
}

.container-buttons button:nth-child(2){
    border-radius: 20px 0px 0px 0px;
}

.container-buttons button:nth-child(6){
    position: relative;
    width: 14rem;
    border-radius: 0px 0px 15px 0px;

    font-family: 'BistroScript', sans-serif;
    font-size: 3rem;
    color: #fff;
    overflow: hidden;


    background: rgb(15,157,245);
    background: linear-gradient(90deg, rgba(15,157,245,1) 0%, rgba(15,84,245,1) 100%);
}

.container-buttons button:nth-child(6)::before{
            transition: 0.2s;
            content: '';
            position: absolute;

            top: 30px;
            left: 0px;

            width: 10rem;
            height: 6rem;

            z-index: 1;
            background-color: #0f9df5;
            transform: translate(-50%, -50%);
            border-radius: 10%;
            filter: blur(15px);
}

.container-buttons button:nth-child(6):hover:before{
   
    top: 20px;
    left: 120px;

}

.container-buttons button:nth-child(6) .gradient-fill{ 
    fill: #fff;
}
.container-buttons button:nth-child(6) span{
    z-index: 2;
}
.container-buttons button:nth-child(6) svg{
    z-index: 2;
    height: 2rem;
    width: 2rem;
    padding-left: 0.3rem;
    padding-bottom: 1rem;
    transform: rotate(45deg)
}


input[type=file]{
    display: none;
}



@media(max-width: 1250px){
    html{
        font-size: 50%;
    }
}

@media(max-width: 1050px){
    html{
        font-size: 40%;
    }
}


@media( max-width: 500px){
    h1{
        font-size: 6rem;
    }

    h2{
        font-size: 1.5rem;
    }
    .container-de-exibicao{
        height: 60vh;
    }

    .container-buttons{
        top: 0px;
        right: 0px;
    }
}



 

